
.container {
    border-radius: 15px;
    font-family: 'Arima', cursive;
    background-image: url(../img/sky7.jpg);
    height: 490px;
   }

form {
    margin: 30px;
    text-align: right;
}

#city {
    margin-top: 20px;
    border-radius: 4px;
    border-color: rgb(146, 185, 236);
}

.current {
    margin-top: -20px;
}
.current_data {
    margin-bottom: -110px;
}

.current_city {
    color: rgb(7, 118, 203);
    font-size: 120px;
    margin-left: 40px;
}

.degrees_now {
    font-size: 45px;
    color: rgb(7, 118, 203);
    margin-left: 40px;
}

.degree_icon { 
     font-size: 20px;
     margin: -60px 30px 35px 90px;
     color: rgb(7, 118, 203);
     text-decoration: none;
}

.search, .searchGeo {
    border-radius: 4px;
    border-color: rgb(146, 185, 236);
    background-color:#ffff;
    color: rgb(25, 84, 221);
}
 
.searchGeo {
    border-radius: 4px;
    border-color: rgb(146, 185, 236);
    background-color:#ffff;
    color: rgb(203, 101, 209);
}


.card_today {
    position:relative;
    margin-top: -80px;
    margin-left: 360px;
}

.weather_future {
    text-align: center;
    margin-left: -30px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.temperature_future_min {
    opacity: 0.5;
}

.temperature_future {
    padding-bottom: 15px;
}

.col-4  {
    text-align: center;
}

.card-title {
    color: rgb(7, 118, 203);
}


.day_time, .description {
    margin-left: 40px;
    color: rgb(7, 118, 203);
    font-size: 18px;
}

.github_Link {
    font-size: 12px;
    color: rgb(63, 117, 147);
    margin-left: 50px;
    margin-top: -20px;
}
.github_Link a {
     color: rgb(0, 166, 199);
     text-decoration: none;
}

#icon {
    margin-left: 180px;
    margin-top: -130px;
    width: 130px;
}

.card {
    margin-left: 44px;
  }


#icon_future {
    margin: 0 auto;
}


.col-2 .card .day_future{
    color: rgb(7, 118, 203);
    font-weight: bold;
}